<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    var worker = new Worker('work.js');
    worker.onmessage = (event) => {
      console.log("ui.onMessage: " + event.data);
      eval(`${event.data[0]}`)(event.data[1]);
    }

    function ele(i) {
      return document.getElementById(i);
    }

    function onUpload() {
      console.log("onUpload");
    }

    function onShowKey() {
      console.log("onShowKey");
    }

    function onCheckSign() {
      console.log("onCheckSign");
    }
  </script>
</head>

<body>
  <h1><%= title %></h1>
  <p>生成签名验证身份，</p>
  <p>1. 本地异步创建rsa公私钥 <span id="step1">...</span><input id="btnShowKey" onclick="ele('dKey').hidden = false"
      type="button" hidden value="显示密钥"></p>
  <div id='dKey' hidden>
    私钥：<textarea id="privateKey" disabled></textarea>
    公钥：<textarea id="publicKey" disabled></textarea>
  </div>
  <script>
    var pem;
    generate = function (arg) {
      pem = arg;
      console.log(pem.privateKey);
      console.log(pem.publicKey);
      ele('privateKey').innerText = pem.privateKey;
      ele('publicKey').innerText = pem.publicKey;
      ele('step1').innerText = 'OK';
      ele('btnShowKey').hidden = false;
    }
    worker.postMessage(['generate']);
  </script>
  <div>
    <p>2. 填写要验证的资料</p>
    V2EX ID: <input type="text" id="v2Id"><br>
    ns好友码: <input type="text" id="nsCode"><br>
    接收邀请邮箱: <input type="text" id="email"><br>
    拼接后: <input type="text" id="content" disabled><br>
    <input type="button" value="加密上传获取签名" onclick="onUpload()"><input type="button" value="查看公钥"
      onclick="onShowKey()"><br>
    签名后: <input type="text" name="content" disabled><br>
    <input type="button" value="验证签名" onclick="onCheckSign()"><span id="checkResult" hidden>OK</span><br>
  </div>
  <script>
    var v2Id = ele("v2Id");
    var nsCode = ele("nsCode");
    var email = ele("email");
    var content = ele("content");

    function onInputChange() {
      content.value = v2Id.value.replaceAll(/\s/g, '') +
        nsCode.value.toUpperCase().replaceAll(/[\s-]/g, '').replace(/^SW/, '') +
        email.value.replaceAll(/\s/g, '');
    }
    [v2Id, nsCode, email].forEach((e) => {
      e.addEventListener('input', onInputChange);
    })
  </script>
</body>

</html>